<%- for @listing in @active_listings %>
  <%= link_to my_listings_path(current_user.id), :class => "content col-xs-12" do %>
    <div class="content col-xs-12" style="color: #3e3e3e">
      <div class="image pull-left img-responsive">
        <% if @listing.images.present? %>
          <div class="listing-image" style="background-image: url('<%= image_url( @listing.images[0].image.url) %>')">
          </div>
        <% else %>
          <div class="listing-image" style="background-image: url('<%= image_url("no_pic.jpg") %>')">
          </div>
        <% end %>
      </div>
      <div class="message pull-left listing-message">
        <h4>
          <%= @listing.title %>
        </h4>
        <p class="listing-content">
          <% if @listing.info.present? %>
            <% if @listing.info.length > 100 %>
              <%= @listing.info[0...100] + "..." %>
            <% else %>
              <%= @listing.info %>
            <% end %>
          <% end %>
        </p>
      </div>
      <div class="price pull-left">
        <p><%= number_to_currency(@listing.price, :locale => 'en_us', :precision => 0) %></p>
      </div>
<!--       <div class="edit pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </div> -->

    </div> <!-- end content -->
  <% end %>
<% end %>