<%- for @listing in @active_listings %>
  <%= link_to my_listings_path(current_user.id), :class => "content col-xs-12" do %>
    <div class="content col-xs-12" style="color: #3e3e3e">
      <div class="image pull-left img-responsive">
        <%= image_tag image_url("bg_landing.jpg") %>
      </div>
      <div class="message pull-left listing-message">
        <h4>
          <%= @listing.title %>
        </h4>
        <p class="listing-content">
          <%= @listing.info %>
        </p>
      </div>
      <div class="price pull-left">
        <p><%= number_to_currency(@listing.price) %></p>
      </div>
<!--       <div class="edit pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </div> -->

    </div> <!-- end content -->
  <% end %>
<% end %>