<%- for @msg_chain in @recent_msg_chains %>
  <% if @msg_chain.seller == current_user %>
    <% other_user = @msg_chain.buyer %>
  <% else %>
    <% other_user = @msg_chain.seller %>
  <% end %>
  <%= link_to messages_path(current_user.id), :class => "content col-xs-12" do %>
    <!-- TODO:HACK, move styling to css -->
    <div class="content col-xs-12" style="color:#3e3e3e">
      <% if @msg_chain.seller == current_user %>
        <% @dirty_flag = @msg_chain.seller_dirty %>
      <% else %>
        <% @dirty_flag = @msg_chain.buyer_dirty %>
      <% end %>
      <% if @dirty_flag == true %>
        <div class="dot pull-left">
          <%= image_tag image_url("tapsell_big_circle_dot.png") %>
        </div>
      <% end %>
      <div class="information pull-left">
        <p class="name">To: <%= other_user.first_name.titleize + " " + other_user.last_name.titleize %>
        </p>
        <p class="date">
        <%= distance_of_time_in_words(Time.now, @msg_chain.updated_at, false, { vague: true }) %>
        </p>
      </div>
      <div class="message pull-left">
        <p>
          <% if current_user == @msg_chain.most_recent_message.sender %>
            <%=  "You: " + @msg_chain.most_recent_message.content %>
          <% else %>
            <%= @msg_chain.most_recent_message.sender.first_name.titleize + ": " + @msg_chain.most_recent_message.content %>
          <% end %>
        </p>
      </div>
    </div> <!-- end content -->
  <% end %>
<% end %>