<%= content_for :stylesheet_contents do  %>
  <%= stylesheet_link_tag "profile" %>
<% end %>

<div class="container-fluid text-center welcome-container">
	<h1 class="no-marg">
		Welcome
	</h1>
</div>

<%= render "layouts/navigation" %>

<div class="container marg-top-40 no-pad">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-md-4 box-container">
						<div class="row">
							<div class="col-xs-12 text-center well-label">
								<h2>
									<%= "#{current_user.first_name} #{current_user.last_name}" %>
								</h2>
							</div>
							<div class="col-xs-12 profile-live-view-image">
								<%- if current_user.image.nil?  %>
									<div class="avatar-profile img-circle" style="background-image: url(<%= image_url('no_avatar.png')%>)"></div>
								<%- else %>
									<div class="avatar-profile img-circle" style="background-image: url(<%= current_user.image.image.square.url %>)"></div>
								<% end %>
							</div>
							<div class="col-xs-12 text-center pad-location">
								<div class="row">
									<div class="col-xs-12 text-center">
										<h4 class="left-location">
											<%= image_tag image_url('pin.png'), class: "pin-image" %>
											&nbsp;
											<%- if current_user.location %>
												<%= current_user.location %>
											<%- else %>
												Location
											<% end %>

										</h4>
									</div>
								</div>
							</div>
							<div class="col-xs-12 text-center left-button-container">
								<div class="row">
									<div class="col-xs-12">
										<ul>
											<li>
												<%= form_tag new_user_photo_path, :method => :post, :multipart => true do %>
													<%= file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg' %>
													<%= submit_tag 'upload new photo' %>
												<% end %>
											</li>
											<li>
												<%= link_to "javascript:void(0);" do %>
													<%= image_tag image_url("fb-icon.png"), class: "fb-icon" %>
													&nbsp; connect facebook
												<% end %>
											</li>
										</ul>
									</div>
								</div>
							</div> <!-- end button container -->
						</div>
					</div> <!-- end left container -->
					<div class="col-xs-12 col-md-8 profile-right-container">
						<div class="col-xs-12 box-container no-pad profile-right-content dashboard-show">
							<div class="row">
								<div class="col-xs-12">
										<div class="section-container col-xs-12 no-pad pull-left">
											<div class="heading col-xs-12">
												<h3 class="pull-left">
													Recent Messages
												</h3>
											</div>
												<%= render "recent_messages" %>
											<div class="footer-content text-right col-xs-12">
												<%= link_to messages_path(current_user.id) do %>
													Go to Inbox
													<%= image_tag image_url("tapsell_right_aqua_long_arrow.png"), class: "arrow-icon" %>
												<% end %>
											</div>
										</div> <!-- end section-container -->

								</div>
							</div>
						</div>
						<div class="col-xs-12 box-container no-pad profile-right-content dashboard-show">
							<div class="row">
								<div class="col-xs-12">
										<div class="section-container col-xs-12 no-pad pull-left">
											<div class="heading col-xs-12">
												<h3 class="pull-left">
													Your Active Listings
												</h3>
												<%= link_to "POST A NEW LISTING", new_listing_path(current_user.id), class: "pull-right btn btn-default" %>
											</div>
											<%= render "active_listings" %>
											<div class="footer-content text-right col-xs-12">
												<%= link_to my_listings_path(current_user.id) do %>
													View All Listings
													<%= image_tag image_url("tapsell_right_aqua_long_arrow.png"), class: "arrow-icon" %>
												<% end %>
											</div>
										</div> <!-- end section-container -->

								</div>
							</div>
						</div>
					</div> <!-- end right container -->
				</div>
			</div>
		</div>
	</div>
</div>