<div class="col-xs-10 right-heading" id="message-header">
	<h4 class="title">
		<%= "#{@other_user.first_name.titleize} made an offer of" %>
		<span class="price"><%= number_to_currency(@current_msg_chain.offer.price, :locale => 'en_us', :precision => 0) %></span>
		for
		<span class="subject"><%= link_to @current_msg_chain.offer.listing.title, listing_path(@current_msg_chain.listing) %></span> 
	</h4>
	<p class="col-xs-12 no-pad second-title">
		<span class="pull-left">YOU HAVE</span>
		<% if @current_msg_chain.offer.target_time_for_accepting.present? %>
			<span class="pull-left time"><%= distance_of_time_in_words(Time.now, @current_msg_chain.offer.target_time_for_accepting) %></span>
		<% else %>
			<span class="pull-left time">LESS THAN 1 DAY </span>
		<% end %>
		<span class="pull-left">LEFT TO:</span>
		<span class="pull-left btn-content">
			<%= link_to accept_offer_message_path(@current_msg_chain.id), class: "btn btn-accept text-center" do %>
				<i class="pull-left"></i>
				ACCEPT
			<% end %>
			<%= link_to decline_offer_message_path(@current_msg_chain.id), class: "btn btn-decline text-center" do %>
				<i class="pull-left"></i>
				DECLINE
			<% end %>
		</span>
	</p>

	<%#= render "message_header" %>
</div><!-- end of right-heading -->