<%- for @msg_chain in @msg_chains %>
  <%= link_to update_msg_chain_path(:msg_chain => @msg_chain), :remote => true, :class => "message-user-list col-xs-12" do %>
    <% if @msg_chain.seller == current_user %>
      <% other_user = @msg_chain.buyer %>
      <% @dirty_flag = @msg_chain.seller_dirty %>
    <% else %>
      <% other_user = @msg_chain.seller %>
      <% @dirty_flag = @msg_chain.buyer_dirty %>
    <% end %>
    <div class="col-xs-12 message-user-content">
      <div class="col-xs-4 no-pad">
        <% if @dirty_flag == true %>
          <%= image_tag "tapsell_big_circle_dot.png", class: "pull-left dot" %>
        <% end %>
        <% if other_user.image.present? %>
          <%= image_tag other_user.image.image.thumbnail.url, class: "pull-left img-circle img-responsive avatar" %>
        <% else %>
          <%= image_tag "no_image.png", class: "pull-left img-circle img-responsive avatar" %>
        <% end %>
      </div>
      <div class="col-xs-8 no-pad">
        <div class="col-xs-12 no-pad message-info">
          <div class="pull-left">
            <%= other_user.first_name.titleize + " " + other_user.last_name.titleize %>
          </div>
          <div class="pull-right">
            <%= distance_of_time_in_words(Time.now, @msg_chain.updated_at, false, { vague: true }) %>
          </div>
        </div>
        <div class="col-xs-12 no-pad message-preview">
          <p>
            <%= @msg_chain.most_recent_message.content[0...100] %>
          </p>
        </div>
      </div>
    </div> <!-- end of message-user-content -->
  <% end %> <!-- end of link -->
<% end %>