<%= content_for :stylesheet_contents do %>
  <%= stylesheet_link_tag "offers", "products" %>
<% end %>

<div class="col-xs-12 top-banner top-listing-notification">
  <div class="container">
    <div class="center-block content">
      <section class="text-center col-xs-12 notif-title">
        <h1>Congratulations!</h1>
        <p>Your listing was successfully posted. </p>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="container">
        </p>
      </p>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="container">
    <div class="col-xs-8 box-container left-container">
      <div class="title-container">
        <h1 class="order-title product-title">
          <%= number_to_currency(@listing.price, :locale => 'en_us', :precision => 0) %>
          <%= @listing.title %>
        </h1>
        <div class="sub-product-title">
          POSTED &nbsp;
          <b> <%= @listing.created_at.strftime("%^b. %e") %> </b>
          &nbsp; by &nbsp;
          <b> <%= @user.first_name.upcase %> </b>
        </div>
      </div>
      <div class="col-xs-12 content-section no-bg">
        <div class="row">
          <%= render "listings/listing_details" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-11 box-container right-container no-pad">
          <div class="right-container-content">
            <div class="price-container price-product-container">
              <div class="button-product-container">
                <%= link_to "MAKE AN OFFER", "javascript:void(0);", class: "btn", disabled: true %>
              </div>
            </div>
            <div class="product-guarantee-container pad-v-20">
              <% #<span class="black-check-icon"> %>
              <% # </span> %>
              <% # <p class="pull-left">Buyer guarantee</p> %>
            </div>
            <div class="list-container">
              <div class="list"></div>
              <div class="list"></div>
            </div>
            <div class="location-container">
              Pick up location:
              UC San Diego
            </div>
          </div>
        </div>
        <div class="col-xs-11 box-container right-container no-pad">
          <div class="right-container-content">
            <h3 class="text-center">
              <%= @user.first_name %>
            </h3>
            <div class="avatar-container text-center">
              <%= link_to "javascript:void(0);" do %>
                <% if current_user.image.present? %>
                  <% image_tag image_url(current_user.image.image.square.url), class: "img-circle" %>
                <% else %>
                  <% image_tag image_url('/assets/no_image.png'), class: "img-circle" %>
                <% end %>
              <% end %>
            </div>
            <div class="user-location-container">
              <h4 class="location text-center">
                <%= image_tag image_url("pin.png") %>
                <%= location = "UC San Diego" %>
              </h4>
            </div>
            <div class="list-container">
              <div class="list"></div>
              <div class="list"></div>
            </div>
            <div class="review-container">
              <h3 class="text-center">
                <% if @user.reviews_as_seller.present? %>
                <%= image_tag image_url("green-like.png") %>
                <%= @user.percent_pos_seller_reviews %>
                POSITIVE REVIEWS
                <% end %>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
