<div class="col-xs-12 top-banner">
	<h1>
		<%= @greeting %>
	</h1>
</div>

<%= render "listings/listing_navigation" %>

<div class="col-xs-12 mylisting-container">
	<div class="container">
		<div class="content box-container col-xs-12">
			<div class="heading col-xs-12">
				<span class="title pull-left">
					Your Active Listings
				</span>
				<%= link_to "POST A NEW LISTING", new_listing_path, class: "btn btn-default new-listing-btn pull-right" %>
			</div>
			<%- for @listing in @listings %>
				<div class="item col-xs-12">
					<span class="list-right animated fadeInRight"></span>
					<span class="edit pull-left">
						<%= link_to "javascript:void(0);", class: "edit-btn pull-left" do %>
							<!-- <i class="glyphicon glyphicon-pencil"></i> -->
							<%= image_tag image_url("pencil.png") %>
						<% end %>
						&emsp;
						<%= link_to listing_path(@listing.id), :confirm => "Are you sure you want to delete this listing?", :method => :delete do %>
							<i class="glyphicon trash-icon"></i>
						<% end %>
					</span>
					<div class="image pull-left">
						<% if @listing.images.present? %>
							<%= link_to "", listing_path(@listing.id), class: "thumb-listing", style: "background-image: url('#{image_url(@listing.images[0].image)}'); -webkit-border-radius: 20px !important; border-radius: 20px !important"  %>
						<% else %>
							<%= image_tag image_url("no_pic.jpg"), class: "img-responsive" %>
						<% end %>
					</div>
					<div class="information">
						<p class="info-title">
							<%= link_to @listing.title, listing_path(@listing.id) %>
						</p>
						<p class="info-description">
							<%= @listing.info %>
						</p>
					</div>
					<div class="price">
						<%= number_to_currency(@listing.price, :locale => 'en_us', :precision => 0) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>


