<div class="col-xs-12 top-banner">
	<div class="container">
		<div class="center-block content">
			<%= image_tag image_url("tapsell_sun.png") %>
			<span class="feature">
				21 <sup>o</sup>F and sunny in San Diego!
			</span>
		</div>
	</div>
</div>

<%= render "listings/listing_navigation" %>

<div class="col-xs-12 mylisting-container">
	<div class="container">
		<div class="content box-container col-xs-12">
			<div class="heading col-xs-12">
				<span class="title pull-left">
					Your Active Listings
				</span>
				<%= link_to "POST A NEW LISTING", new_listing_path, class: "btn btn-default new-listing-btn pull-right" %>
			</div>
			<%- for @listing in @listings %>
				<div class="item col-xs-12">
					<span class="edit pull-left">
						<%= link_to "javascript:void(0);" do %>
							<i class="glyphicon glyphicon-pencil"></i>
						<% end %>
					</span>
					<div class="image pull-left">
						<% if @listing.images.present? %>
							<%= link_to image_tag(image_url(@listing.images[0].image.url), class: "img-responsive"), listing_path(@listing.id) %>
						<% else %>
							<%= image_tag image_url("no_pic.jpg"), class: "img-responsive" %>
						<% end %>
					</div>
					<div class="information">
						<p class="info-title">
							<%= link_to @listing.title, listing_path(@listing.id) %>
						</p>
						<p class="info-description">
							<%= @listing.info %>
						</p>
					</div>
					<div class="price pull-right">
						<%= "#{number_to_currency(@listing.price)}" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>


