<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey there <%= @seller.first_name %>, </p>
    <p> Good news - your listing "<%= @offer.listing.title %>" sold! </p>
    <p> <%= link_to "Click here to view your listing", listing_url(@offer.listing) </p>
    <p> Wondering what happens next? </p>
    <ul> (1) Arrange a meetup with the buyer.  To contact them, <%= link_to "send a message through the Tapsell website", messages_url(@seller) %>. </ul>
    <ul> (2) Meet up within 3 days. </ul>
    <ul> (3) Exchange your stuff for moolah and enjoy! </ul>
    <p> Thanks again for using Tapsell.  You rock.  </p>
    <p> Love, </p>
    <p> Team Tapsell </p>
    <%= link_to "Visit the Tapsell website", root_url %>
  </body>
</html>