<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%= @buyer.first_name %>, </p>
    <p> We’re writing to confirm that your offer of <%= number_to_currency(@offer.price, :locale => 'en_us', :precision => 0) %> for “<%= @offer.listing.title %>" has been submitted. </p>
    <p> <%= link_to "Click here to view the listing", listing_url(@offer.listing) %> </p>
    <p> Hang tight - the seller has 24 hours to accept or decline your offer. </p>
    <p> Got questions?  Just reply to this email. </p>
    <p> Keep calm and haggle on, </p>
    <p> Team Tapsell </p>
    <p> <%= link_to "Visit the Tapsell website", root_url %> </p>
  </body>
</html>