<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey there <%= @buyer.first_name %>, </p>
    <p> Congratulations!  <%= @offer.seller.first_name %> accepted your offer of <%= number_to_currency(@offer.price, :locale => 'en_us', :precision => 0) %> for "<%= @offer.listing.title %>" </p>
    <p> Wondering what happens next? </p>
    <ul> (1) Arrange a meetup with the seller.  To contact them, <%= link_to "send a message through the website", messages_url(@buyer) %>. </ul>
    <ul> (2) Meet up within 3 days. </ul>
    <ul> (3) Exchange moolah for your stuff and enjoy! </ul>
    <p> Thanks again for using Tapsell.  You rock.  </p>
    <p> Love, </p>
    <p> Team Tapsell </p>
    <%= link_to "Visit the Tapsell website", root_url %>
  </body>
</html>