<% provide(:title, 'Join') %>
<%= content_for :stylesheet_contents do %>
  <%= stylesheet_link_tag "sessions" %>
<% end %>

<div class="col-xs-12">
  <div class="container">
    <div class="title-container">
      <h1 class="login-title text-center">Become part of the Tapsell community.</h1>
      <h2 class="login-subtitle text-center">It takes less than a minute. </h2>
      <div class="facebook-container text-center">
        <%= link_to "javascript:void(0);", class: "btn btn-primary" do %>
          <i class="fa fa-facebook-square"></i>
          <span class="text-button">Sign up with Facebook</span>
        <% end %>
      </div>
    </div>
    <div class="center-block list-container">
      <div class="list"></div>
    </div>
    <div class="registration-container center-block">
      <%= form_for(@user, html: {class: "col-xs-12", role: "form"}) do |f| %>
        <%= render 'error_messages' %>

        <div class="form-group">
          <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
        </div>
        <div class="form-group">
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
        </div>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: "form-control password-input", placeholder: "Password" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "GET ME STARTED", class: "btn btn-large btn-primary" %>
        </div>

      <% end %>

    </div>

  </div>

</div>