<%= content_for :stylesheet_contents do %>
	<%= stylesheet_link_tag "users" %>
<% end %>

<div class="col-xs-12 show-public-container no-pad">

		<div class="col-xs-12 name-container">
			<div class="container">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-8">
					<h1 class="name">
					<%= "#{@seller.first_name} #{@seller.last_name}" %>
					</h1>
					<h4>
						<%= image_tag "/assets/pin-white.png", class: "pin" %>
						UC San Diego 
						<% if @seller.reviews_as_seller.present? %>
						<%= @seller.percent_pos_seller_reviews %>
						% POSITIVE REVIEWS
						<% else %>

						<% end %>
					</h4>
				</div>
			</div>
		</div>

		<div class="col-xs-12 information-container">
			<div class="container">
				<div class="col-xs-4">
					<% if @seller.image.present? %>
						<%= image_tag @seller.image.image.square.url, class: "img-circle avatar" %>
					<% else %>
						<%= image_tag "/assets/no_image.png", class: "img-circle avatar" %>
					<% end %>
				</div>
				<div class="col-xs-8">
					<h4 class="description">
						<%= @seller.bio %>
					</h4>
				</div>
			</div>
		</div>

		<div class="col-xs-12 listing-container">
			<div class="container animated fadeIn">
				<% @seller.active_listings_as_seller.each do |listing| %>
					<div class="col-xs-6 col-md-3">
						<div class="col-xs-12 col-md-12 thumbnail">
							<h5 class="col-xs-12 no-pad">
								<%= truncate(listing.title.html_safe, length: 30).titleize %>
							</h5>
							<% if listing.images.present? %>
								<%= link_to listing_path(listing), class: 'col-xs-12 no-pad' do %>
									<div class="image-container" style="background-image: url('<%=image_url(listing.images[0].image.url)%>')"></div>
									
								<% end %>
							<% else %>
								<%= link_to listing_path(listing), class: 'col-xs-12 no-pad' do %>
									<div class="image-container" style="background-image: url('<%= image_url("no_pic.jpg") %>')"></div>
									
								<% end %>
							<% end %>
							<div class="col-xs-6 no-pad">
								<div class="time-post pull-left">
									<%= distance_of_time_in_words(Time.now, listing.created_at, false, { vague: true }) %>
								</div>
							</div>
							<div class="col-xs-6 no-pad">
								<div class="price pull-right">
									$ <%= listing.price.to_i %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>

</div>
