<div class="col-xs-12">
	<div class="container navigation-child-container">
		<ul class="nav nav-pills">
			<li class="<%= controller_name.eql?('dashboard') ? "active" : "" %>">
				<%= link_to "DASHBOARD", "javascript:void(0);", class: "nav-link" %>
			</li>
			<li class="<%= controller_name.eql?('messages') ? "active" : "" %>">
				<%= link_to "INBOX", "javascript:void(0);", class: "nav-link" %>
			</li>
			<li class="<%= controller_name.eql?('listings') ? "active" : "" %>">
				<%= link_to "MY LISTINGS", listings_path, class: "nav-link" %>
			</li>
			<li class="<%= controller_name.eql?('users') ? "active" : "" %>">
				<%= link_to "PROFILE", user_path(current_user.id), class: "nav-link" %>
			</li>
			<li class="<%= controller_name.eql?('settings') ? "active" : "" %>">
				<%= link_to "SETTINGS", "javascript:void(0);", class: "nav-link" %>
			</li>
		</ul>
	</div>
</div>